<!DOCTYPE html>
<script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
<html>
  <head>
    <title>Skysports Enviroment Breakdown></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="site-header">
      <div class="site-header__body">
        <div class="site-header_logo">
          <div class="site-header_logo1">
              <a href="/" class="svg-logo site-header__logo">
                <img class="svg-logo__image" src="http://www.skysports.com/assets/Sky-Sports-Logo-transparent.svg" alt="Sky Sports" onerror="this.onerror=null;this.src='/assets/Sky-Sports-Logo-transparent.png'">
              </a>
          </div>
          <div class="site-header_logo2">
              <a href="/" class="svg-logo site-header__logo">
              <img id="site-body_build_image" class="site-body_build_image" src='http://jenkins.ssdm.bskyb.com/buildStatus/icon?job=skysports/' style="height:30px;">
              </a>
          </div>
            </div>
          <div class="site-header_title">
            <h1>Enviroment Breakdown</h1>
          </div>
      </div>
    </div>
  
    <div class="site-body">
      <iframe src="http://rundownd.ssdm.bskyb.com/" id= "iframe" name="myFrame"></iframe>
    </div>
    
  </body>
</html>

<script type="text/javascript">

var myImageElement = document.getElementById('site-body_build_image');
myImageElement.src = 'http://jenkins.ssdm.bskyb.com/buildStatus/icon?job=skysports'

setInterval(function() {
    var myImageElement = document.getElementById('site-body_build_image');
    myImageElement.src = 'https://emoji.slack-edge.com/T02GEFU92/noel/b8d6a378ae46b233.png';
}, 9999);

setInterval(function() {
    var myImageElement = document.getElementById('site-body_build_image');
    myImageElement.src = 'http://jenkins.ssdm.bskyb.com/buildStatus/icon?job=skysports/#' + new Date().getTime();
}, 10000);

</script>