<!DOCTYPE html>
<html>
  <head>
    <title>hey></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="site-header">
      <div class="site-header__body">
          <div class="site-header_logo">
              <a href="/" class="svg-logo site-header__logo">
                <img class="svg-logo__image" src="http://www.skysports.com/assets/Sky-Sports-Logo-transparent.svg" alt="Sky Sports" onerror="this.onerror=null;this.src='/assets/Sky-Sports-Logo-transparent.png'">
              </a>
          </div>
          <div class="site-header_title">
            <h1>Enviroment Breakdown Sky sports</h1>
          </div>
      </div>
    </div>
  
    <div class="site-body">
      <div class="site-body_build">
        <a href='http://jenkins.ssdm.bskyb.com/job/skysports/'>Build Health :<img id="site-body_build_image" class="site-body_build_image" src='http://jenkins.ssdm.bskyb.com/buildStatus/icon?job=skysports' style="height:30px;"></a>
      </div>
      <iframe src="http://rundownd.ssdm.bskyb.com/" name="myFrame"></iframe>
    </div>
    
  </body>
</html>

<script type="text/javascript">
var myImageElement = document.getElementById('site-body_build_image');
myImageElement.src = 'http://jenkins.ssdm.bskyb.com/buildStatus/icon?job=skysports'

setInterval(function() {
    var myImageElement = document.getElementById('site-body_build_image');
    myImageElement.src = ''
}, 10000);

setInterval(function() {
    var myImageElement = document.getElementById('site-body_build_image');
    myImageElement.src = 'http://jenkins.ssdm.bskyb.com/buildStatus/icon?job=skysports'
}, 10001);

$('iframe').load( function() {
    $('iframe').contents().find("tbody")
      console.log('hey');
});
</script>
